{% extends "layout.html" %}

{% block title %}Importar Canal{% endblock %}

{% block content %}
  <h1 class="mb-4">Importar Canal do YouTube</h1>
  <form method="post" class="mb-4">
    <div class="input-group">
      <input type="text" class="form-control" name="channel_url" placeholder="URL do canal" required>
      <button class="btn btn-primary" type="submit">Processar</button>
    </div>
  </form>

  <h2>Canais processados:</h2>
  <ul class="list-group">
    {% for canal in canais %}
      <li class="list-group-item">
        <a href="{{ url_for('canal', channel_id=canal.channel_id) }}">{{ canal.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
